/* body {
    font-family: 'Roboto', sans-serif;
}

header .nav-link {
    position: relative;
    z-index: 1;
}

header .nav-link::before {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1rem;
    background-image: linear-gradient(#558aab,#31617f);
    z-index: -1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

header .nav-link:hover::before {
   display: block;
}

header .nav-item::after {
    content: "";
    box-sizing: border-box;
    display: none;
    position: absolute;
    left: -0.4rem;
    bottom: -1.374rem;
    right: -0.4rem;
    border: transparent 5px solid;
    border-top: 4px solid #2a5671;
    z-index: -2;
}

header .nav-link:hover::before {
   display: block;
}

header::after{
    content:"";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #4b83a6;
}
img{
    left:0;
    right: 0;

} */



body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000000 !important;
}

a:hover {
    text-decoration: none;
}

header {
    background-color: #4e85a7;
    color: white;

}
header h1 img{
    position: absolute;
    left:-25px;
    top:-20px;
}

header .nav-link {
    position: relative;
    z-index: 1;
}

header .nav-link::before {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1rem;
    background-image: linear-gradient(#558aab,#31617f);
    z-index: -1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header .nav-link:hover::before {
    display: block;
}

header .nav-link::after {
    content: "";
    box-sizing: border-box;
    display: none;
    position: absolute;
    left: -0.4rem;
    bottom: -1.374rem;
    right: -0.4rem;
    border: transparent 5px solid;
    border-top: 4px solid #2a5671;
    z-index: -2;
}

header .nav-link:hover::after {
    display: block;
}

header::after  {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #4b83a6;
}

img{
    left:0;
    right: 0;

} 
